TG_BOT_TOKEN="YOUR_TOKEN"
ADMIN_USER_IDS="123456"

SERVER_MAC="aa:bb:cc:dd:ee:ff"
SERVER_IP="192.168.1.100"
SSH_USER_OMV="omvuser"
SSH_KEY_OMV="/home/YOU/.ssh/omv_key"

ROUTER_IP="192.168.1.1"
ROUTER_SSH_USER="root"
ROUTER_SSH_KEY="/home/YOU/.ssh/router_key"

TRAFFIC_LAN_SUBNET="192.168.1."
TRAFFIC_GREP_PATTERN="192.168.1."
TRAFFIC_COLLECTION_ENABLED="true"
TRAFFIC_COLLECTION_INTERVAL="600"
TRAFFIC_DB_PATH="/home/YOU/wol_bot_data/traffic_stats.db"
TRAFFIC_RETENTION_DAYS="730"

LOG_PATH="/home/YOU/wol_bot_data/wol_bot_conntrack.log"
KEEP_CHAT_MESSAGES="4"
